.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    width: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 25px #4C4CFF;
}

.name {
    width: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

