.main {

    width: 600px;
    height: 912px;
    left: 380px;
    top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #131316;

    border: 2px solid #4C4CFF;
}
.cont {
    display: flex;
    flex-direction: column;
    gap: 16px ;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px ;
    height: 464px;
    width: 584px;
}
.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color:  #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background: #8585AD;
}
.fin {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
}